# Logs and Errors
error_log
*.log
/logs/

# Composer Dependencies
/vendor/

# Environment and Configuration Files
.env
.env.*
!.env.example
!.env.sample
!.env.template
config.php
config.*.php
*.config.php
*.config.*.php

# Local Folders
/local/

# Storage Folders
/storage/
/uploads/

# IDE and Editor Files
.augment-guidelines
.cursorrules
.windsurfrules
CLAUDE.local.md
global_rules.md
usage_tracking*.json

# IDE and Editor Folders
/.claude/
/.cursor/
/.fleet/
/.idea/
/.vscode/
/.windsurf/
/.zed/

# Cache Files
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpunit.cache

# Cache Folders
/.phpstan/

# Build Files
/public/hot

# Build Folders
/build/
/coverage/
/node_modules/
/public/build/
/public/storage

# Temporary Files
/temp/
/tmp/
/temp.php
/temp[0-9A-Za-z].php
/temp-[0-9A-Za-z].php
/temp_[0-9A-Za-z].php
/out.txt
/out[0-9A-Za-z].txt
/out-[0-9A-Za-z].txt
/out_[0-9A-Za-z].txt

# SQLite Files
*.sqlite*

# Redis Files
*.rdb

# NPM and Yarn logs
npm-debug.log
yarn-error.log

# OS-Specific Files
.DS_Store
Thumbs.db

# Additional Configuration Files
.phpactor.json
Homestead.json
Homestead.yaml
auth.json

# Phive and phpDocumentor
.phive/
!.phive/phars.xml
.phpdoc/
phpdoc.xml
/tools/phpDocumentor

# Custom Output Files
/*repopack-output*.*
/*repomix-output*.*
/phpunit.txt
/phpstan.txt
/junit.xml

# Python virtual environments
venv*/
.venv*/

# Python cache / Bytecode
__pycache__/
*.pyc
*.py[codz]
*$py.class