includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - config
        - examples
        - local
        - public
        - scripts
        - src
        - tools
    excludePaths:
        - vendor
        - local/deleted
        - resources
        - scripts/plugins/pageview-tracking-core/pageview-tracking-core.php
        - scripts/plugins/pageview-tracking/pageview-tracking.php
        - scripts/plugins/pageview-tracking-daily/pageview-tracking-daily.php
        - tmp
    ignoreErrors:
        - identifier: larastan.noEnvCallsOutsideOfConfig
    reportUnmatchedIgnoredErrors: false