includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    paths:
        - config
        - examples
        - local
        - public
        - src
        - tools
    excludePaths:
        - vendor
        - local/deleted
        - resources
        - tmp